body{
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  margin: 10px 10px 10px 250px;
  background-image: url(http://lorempixel.com/250/300);
  background-repeat: repeat-y;
}

h1, h2{
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: normal;
  cursor: default;
}

h1{
  font-size: 40px;
  background-color: #2e7edb;
  color: #fff;
  padding: 10px 30px;
}

h2, p, img{
  margin-left: 20px;
}


p{
  letter-spacing: 2px;
  line-height: 30px;
}

a{
  color: #d67f1b;
  text-decoration: none;
  letter-spacing: 0px;
  padding: 5px 10px;
}

a:hover{
  background-color: #d67f1b;
  color: #fff ;
}

a[href="http://google.com"]{
  color: #cb4fea;
}

a[href="http://google.com"]:hover{
  background-color: #cb4fea;
  color: #fff ;
}

p span{
  display: inline-block;
  width: 300px;
  float: right;
  text-align: right;
  margin: 20px 0px 20px 20px;
  letter-spacing: 0px;
  font-size: 30px;
  color: #999;
  font-style: italic;
}

p span::before,
p span::after{
  content: '"'
}
